@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.spacer {
  aspect-ratio: 960/200;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url("/images/under_the_ocean2.svg");
}

.nav-link,
.nav-button {
  position: relative;
  display: inline-block;
  transition: font-weight 0.3s ease;
}

.nav-link::before,
.nav-button::before {
  content: attr(title);
  font-weight: bold;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.nav-link:hover,
.nav-button:hover {
  font-weight: bold;
}

.cursor {
  width: 20px;
  height: 20px;
  background-color: black;
  position: fixed;
  border-radius: 50%;
}

.white-cursor {
  background-color: white;
}

.menu-button {
  height: 40px;
  width: 80px;
  border-radius: 25px;
  cursor: pointer;
  z-index: 1000;
  position: absolute;
  top: -20px;
  right: 0px;
  overflow: hidden;

  .slider {
    position: relative;
    height: 100%;
    width: 100%;

    .elem {
      height: 100%;
      width: 100%;
      background-color: #c6e7ce;

      &:nth-of-type(2) {
        position: absolute;
        top: 100%;
        background-color: #00070e;
        color: white;
      }

      &:hover {
        .perspective-text {
          transform: rotateX(90deg);
          p {
            &:nth-of-type(1) {
              transform: translateY(-100%);
              opacity: 0;
            }
            &:nth-of-type(2) {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .perspective-text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.75s cubic-bezier(0.76, 0, 0.24, 1);
    transform-style: preserve-3d;

    p {
      transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);
      &:nth-of-type(2) {
        position: absolute;
        transform: rotateX(-90deg) translateY(9px);
        transform-origin: bottom center;
        opacity: 0;
      }
    }
  }
}

.menu {
  position: absolute;
  z-index: 100;
  width: 275px;
  height: 300px;
  background-color: #c6e7ce;
  border-radius: 25px;
}

.nav {
  height: 100%;
  padding: 65px 0px 0px 25px;
  box-sizing: border-box;

  .nav-body {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .nav-container {
      perspective: 120px;
      perspective-origin: bottom;
    }

    a {
      color: black;
      /* text-decoration: underline 1px; */
    }
  }
}

.glass-card {
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
}

.glass-card:hover::before {
  opacity: 1;
}

.glass-card::before {
  background: radial-gradient(
    var(--circle-size) circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, var(--gradient-power)),
    transparent 40%
  );
  border-radius: inherit;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  opacity: 0;
  transition: opacity 500ms;
  content: "";
  z-index: 2;
}

.glass-card > .glass-card-content {
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  background-color: inherit;
  border-radius: inherit;
  margin: 1;
}
